'<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>test1</title>
        <style>
            a {
                color: greenyellow;
            }
        </style>
    </head>
    <body style="margin: 0; padding: 0">
    <div style="background-color: red; position: fixed; width: 170px; height: 100%; padding: 15px; color: greenyellow">
        <h1>Левая панелька</h1>
        <ul>
            <li>
                <a href="https://yandex.ru">Yandex</a>
            </li>
            <li>
                <a href="https://google.com">Google</a>
            </li>
        </ul>
    </div>
    <div style="background-color: green; height: 120px; margin-left: 200px; padding: 15px; color: red">
        <h1>Шапка</h1>
    </div>
    <div style="background-color: black; color: white; margin-left: 200px; padding: 15px">
        Ква́нтовая тео́рия по́ля (КТП) — раздел физики, изучающий поведение
        квантовых систем с бесконечно большим числом степеней свободы —
        квантовых (или квантованных) полей; является теоретической основой
        описания микрочастиц, их взаимодействий и превращений. Именно на
        квантовой теории поля базируется вся физика высоких энергий, физика
        элементарных частиц и физика конденсированного состояния. Квантовая
        теория поля в виде Стандартной модели (с добавкой масс нейтрино)
        сейчас является единственной экспериментально подтверждённой теорией,
        способной описать и предсказать поведение элементарных частиц при
        высоких энергиях (то есть при энергиях, существенно превышающих их
        энергию покоя).

        Математический аппарат КТП — гильбертово пространство состояний
        (пространство Фока) квантового поля и действующие в нём операторы.
        В отличие от квантовой механики, «частицы» как некие неуничтожимые
        элементарные объекты в КТП отсутствуют. Вместо этого основные объекты
        здесь — векторы фоковского пространства, описывающие всевозможные
        возбуждения квантового поля. Аналогом квантовомеханической волновой
        функции в КТП является полевой оператор (точнее, «поле» — это
        операторнозначная обобщённая функция, из которой только после свёртки
        с основной функцией получается оператор, действующий в гильбертовом
        пространстве состояний), способный действовать на вакуумный вектор
        фоковского пространства (см. вакуум) и порождать одночастичные
        возбуждения квантового поля. Физическим наблюдаемым объектам здесь
        также соответствуют операторы, составленные из полевых операторов.

        Квантовая теория поля возникла в результате работы нескольких
        поколений физиков-теоретиков на протяжении большей части 20 века.
        Её развитие началось в 1920-х годах с описания взаимодействий
        между светом и электронами, что привело к появлению первой квантовой
        теории поля — квантовой электродинамики. Вскоре обнаружилось серьёзное
        теоретическое препятствие для построения математически строгой теории,
        связанное с появлением и сохранением различных бесконечностей в
        пертурбативных вычислениях. Эта проблема была решена только в 1950-х
        годах после изобретения процедуры перенормировки. Вторым серьёзным
        препятствием стала очевидная неспособность КТП описать слабые и
        сильные взаимодействия, до такой степени, что некоторые теоретики
        призвали отказаться от теоретико-полевого подхода. Развитие
        калибровочной теории и завершение Стандартной модели в 1970-х годах
        привели к возрождению квантовой теории поля.

        Тео́рия относи́тельности — физическая теория пространства-времени,
        то есть теория, описывающая универсальные пространственно-временные
        свойства физических процессов[1]. Термин был введён в 1906 году Максом
        Планком с целью подчеркнуть роль принципа относительности в специальной
        теории относительности (и, позже, общей теории относительности). Иногда
        используется как эквивалент понятия «релятивистская физика»[прим. 1].

        В широком смысле теория относительности включает в себя специальную и
        общую теорию относительности. Специальная теория относительности (СТО)
        относится к процессам, при исследовании которых полями тяготения можно
        пренебречь; общая теория относительности (ОТО) — теория тяготения,
        обобщающая ньютоновскую[1]. В узком смысле теорией относительности
        называют специальную теорию относительности.

        В истории физики термин теория относительности иногда используется для
        отграничения взглядов Эйнштейна, Минковского и их последователей,
        отвергающих концепцию светоносного эфира, от взглядов некоторых их
        предшественников, таких как Лоренц и Пуанкаре[2].
        Содержание

        1 Отличия СТО от ньютоновской механики
        2 Область применимости
        2.1 Область применимости СТО
        2.2 Область применимости ОТО
        3 Применение
        3.1 Применение СТО
        3.2 Применение ОТО
        4 Принятие научным сообществом
        4.1 Принятие СТО
        4.2 Принятие ОТО
        5 Специальная теория относительности
        6 Общая теория относительности
        7 Примечания
        8 Ссылки

        Отличия СТО от ньютоновской механики

        Впервые новая теория потеснила 200-летнюю механику Ньютона. Это в корне
        изменило восприятие мира. Классическая механика Ньютона оказалась верной
        лишь в земных и близких к ним условиях: при скоростях намного меньше
        скорости света и размерах, значительно превышающих размеры атомов и
        молекул и при расстояниях или условиях, когда скорость распространения
        гравитации можно считать бесконечной.

        Ньютоновские понятия о движении были кардинально скорректированы
        посредством нового достаточно глубокого применения принципа
        относительности движения. Время уже не было абсолютным (а начиная с ОТО
        — и равномерным).

        Более того, Эйнштейн изменил фундаментальные взгляды на время и
        пространство. Согласно теории относительности, время необходимо
        воспринимать как почти равноправную составляющую (координату)
        пространства-времени, которая может участвовать в преобразованиях координат
        при изменении системы отсчёта вместе с обычными пространственными
        координатами, подобно тому, как преобразуются все три пространственные
        координаты при повороте осей обычной трёхмерной системы координат.
        Область применимости
        Область применимости СТО

        Специальная теория относительности применима для изучения движения тел
        с любыми скоростями (в том числе близкими или равными скорости света)
        при условии отсутствия очень сильных гравитационных полей.
        Область применимости ОТО

        Общая теория относительности применима для изучения движения тел с
        любыми скоростями в гравитационных полях любой интенсивности, если
        квантовыми эффектами можно пренебречь.
        Применение
        Применение СТО

        Специальная теория относительности применяется в физике и астрономии
        начиная с XX века. Теория относительности значительно расширила
        понимание физики в целом, а также существенно углубила знания в области
        физики элементарных частиц, дав мощнейший импульс и серьёзные новые
        теоретические инструменты для развития физики, значение которых трудно переоценить.
        Применение ОТО

        С помощью данной теории космология и астрофизика сумели предсказать
        такие необычные явления, как нейтронные звезды, чёрные дыры и гравитационные волны.
        Принятие научным сообществом
        Принятие СТО

        В настоящее время специальная теория относительности общепринята в
        научном сообществе и составляет базис современной физики[3]. Часть
        ведущих физиков сразу приняла новую теорию, в их числе — Макс Планк,
        Хендрик Лоренц, Герман Минковский, Ричард Толмен, Эрвин Шрёдингер и другие.
        В России под редакцией Ореста Даниловича Хвольсона вышел знаменитый курс
        общей физики, подробно изложивший специальную теорию относительности и
        описание экспериментальных оснований теории. Вместе с тем, критическое
        отношение к положениям теории относительности выражали Нобелевские
        лауреаты Филипп Ленард[4], Й. Штарк, Дж. Дж. Томсон, полезной оказалась
        дискуссия с Максом Абрахамом и другими учёными.
        Принятие ОТО

        Особенно продуктивно было конструктивное обсуждение принципиальных
        вопросов общей теории относительности (Шрёдингер и др.), фактически
        это обсуждение продолжается до сих пор.

        Общая теория относительности (ОТО) в меньшей степени, чем СТО,
        экспериментально проверена, содержит несколько принципиальных проблем,
        и известно, что пока в принципе допустимы некоторые из альтернативных
        теорий гравитации, большинство из которых, правда, можно считать в той
        или иной мере просто модификацией ОТО. Тем не менее, в отличие от
        многих из альтернативных теорий, по мнению научного сообщества, ОТО
        в своей области применимости пока соответствует всем известным
        экспериментальным фактам, в том числе и сравнительно недавно обнаруженным
        (так, недавно было найдено ещё одно возможное подтверждение существованию
        гравитационных волн[5][6]). В целом же ОТО является в своей области
        применимости «стандартной теорией», то есть признанной научным сообществом основной[3].
    </div>
    <div style="background-color: blue; height: 70px; margin-left: 200px; padding: 15px; color: orange">
        <h1>Тапки</h1>
    </div>
    </body>
    </html>'